.page > div {
  box-shadow: 0px 2px 12px 0px #0000001a;
  text-align: center;
}
.fixedArea {
  background-color: #fff;
  width: 98vw;
  height: 98vh;
  margin: 1.5rem auto;
  display: flex;
  align-items: center;
  position: sticky;
  top: 1.5rem;
  border-radius: 2rem;
}
.fixedArea::before {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
  background: url("/images/gradient_bg.png") no-repeat;
  content: " ";
  animation: rotation 9s linear infinite;
  background-size: contain;
  pointer-events: none;
  z-index: -1;
}
.fixedArea > div:not(.lottieWrap) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixedArea .lottieWrap {
  width: 10rem;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
}
.textBox {
  margin: 0 auto;
  font-family: "SBAggroB";
  font-size: 10rem;
  text-align: center;
  line-height: 1.2;
}
.developer {
  color: #fff;
  font-family: "SBAggroB";
  text-shadow: rgb(0, 0, 0) -2px -2px 0px, rgb(0, 0, 0) 2px -2px 0px,
    rgb(0, 0, 0) -2px 2px 0px, rgb(0, 0, 0) 2px 2px 0px,
    rgb(0, 0, 0) -2px -1px 0px, rgb(0, 0, 0) 2px -1px 0px,
    rgb(0, 0, 0) -1px 2px 0px, rgb(0, 0, 0) 1px 2px 0px;
}
.heart {
  color: #d83b3b;
}
.coverArea {
  width: 98vw;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin-bottom: 2rem;
}
.coverArea::before {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
  background: url("/images/gradient_bg.png") no-repeat;
  content: " ";
  animation: rotation 9s linear infinite;
  background-size: contain;
  pointer-events: none;
  z-index: -1;
}
.coverArea > div {
  max-width: 140rem;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid #0000001a;
}
.coverArea > div:last-of-type {
  border-bottom: 0;
}
.coverArea > div h3 {
  margin-bottom: 4rem;
  font-family: "Gabarito", serif;
  font-size: 5rem;
  font-weight: 800;
  text-align: center;
}
.coverArea > div h3 + p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.coverArea > .experienceWrap h3,
.coverArea > .skillsWrap h3 {
  margin-bottom: 1rem;
}
.aboutWrap .aboutMe {
  margin-bottom: 6rem;
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
.aboutWrap .aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.aboutWrap .aboutBox .aboutTxt ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.6rem;
}
.imgBox {
  width: 20rem;
}
.coverArea > .experienceWrap > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80rem;
  margin: 0 auto;
}
.coverArea > .experienceWrap .careerWrap {
  text-align: left;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.75) 0%,
      rgba(255, 255, 255, 0.75) 100%
    ),
    linear-gradient(
      90deg,
      #c0eed3 0%,
      #b6c8ef 32.6%,
      #fcd1cb 65.98%,
      #f0b1de 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 10px 20px #1e1f241a;
  border-radius: 2rem;
  padding: 2px;
  box-shadow: 0 10px 20px #1e1f241a;
}
.coverArea > .experienceWrap .careerWrap > div {
  font-size: 1.5rem;
  line-height: 1.4;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 3rem 4rem;
  border-radius: 2rem;
}
.coverArea > .experienceWrap .careerWrap div > div {
  width: 20rem;
}
.coverArea > .experienceWrap .careerWrap:last-of-type div > div {
  width: 100%;
}
.coverArea > .experienceWrap .careerWrap div li a {
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}
.coverArea > .experienceWrap .careerWrap h4 {
  font-size: 2rem;
  font-weight: 700;
}
.coverArea > .skillsWrap ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.coverArea > .skillsWrap ul li {
  width: calc((100% - 6rem) / 3);
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Russo One", serif;
  font-size: 3.5rem;
}
.coverArea .emailWrap > p {
  font-size: 2rem;
  line-height: 1.4;
}
.coverArea .emailWrap > div {
  width: 25rem;
  margin: 4rem auto 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0) scale(1);
  }
  10% {
    transform: rotate(36deg) scale(1.5);
  }
  20% {
    transform: rotate(72deg) scale(1);
  }
  30% {
    transform: rotate(108deg) scale(0.75);
  }
  40% {
    transform: rotate(144deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  60% {
    transform: rotate(216deg) scale(1);
  }
  70% {
    transform: rotate(252deg) scale(0.75);
  }
  80% {
    transform: rotate(288deg) scale(1);
  }
  90% {
    transform: rotate(324deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
